html{
    font-family: 'Courier New', Courier, monospace;
    font-size: 32px;}

body{
    margin: auto;
    width: 700px;
    height: 900px;
    display: flex;
    overflow: hidden;
    flex-direction: column;
    background-color: #9e9e9e;}

.header{
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;}

h1{
    margin: 0;
    font-size: 0.7em;
    color: rgb(205, 221, 235);}

h2{
    margin: 0;
    font-size: 0.7em;
    color: rgb(205, 221, 235);}

p{
    margin: 0;
    font-size: 0.7em;
    color: rgb(205, 221, 235);}

.main-block{
    margin: 0;
    width: 700px;
    height: 300px;
    display: flex;
    overflow: hidden;
    position: relative;
    background-color: aliceblue;
    border: 3px solid #585858;
    border-radius: 2%;}

#game_window{
    width: 700px;
    height: 300px;
    border: 1px solid black;
    position: relative;
    overflow: hidden;
    background-color: #137a94;}

#bird {
    width: 30px;
    height: 30px;
    background-color: yellow;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50px;}

.pipe {
    width: 50px;
    background-color: green;
    position: absolute;
    bottom: 0;
    border: 2px solid darkgreen;}

.pipe.top {
    bottom: auto;
    top: 0;}

.game-control{
    margin: 0;
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: row;
    align-items: center;}

.buttons{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;}

button{
    width: 30%;
    height: 50%;}

.results-block{
    margin: 0;
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;}
